h1,
h3 {
    text-align: center;
}

#outer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.register-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#person {
    background-color: rgb(55, 180, 230);
}

#organisation {
    background-color: rgb(238, 175, 58);
}