{% extends 'base.html' %}

{% block css %}
 {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %} ">
{% endblock css %}

{% block content %}
<div id="outer">
    <h1>Welcome to <span style="font-style: italic;">MyConnections</span></h1>
    <div class="register-prompt">
        <h3>You must be a registered user to use this app. Please <a href="#">login</a>...<h3>
        <h3>... or register as:</h3>
        <div id="register-options"> 
            <button type="button" class="btn-link" id="person" onclick="location.href='{% url 'my_connections:student_signup' %}'">Person</button>
            <button type="button" class="btn-link" id="organisation" onclick="location.href='{% url 'my_connections:organisation_signup' %}'">Organisation</button>
        </div>
    </div>
</div>
{% endblock content %}