{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'myConnections/css/registration.css' %} ">
{% endblock css %}
{% block content %}

    <div class="form-container">
        <div class="form-wrapper">
            <h2>Please login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|safe|linebreaksbr }}
                <br>
                <button type="submit" class="btn-link" id="login-btn">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}